@import url('./__content/popup__content.css');
@import url('./__content/_content/popup__content_content_image.css');
@import url('./__close/popup__close.css');
@import url('./__title/popup__title.css');
@import url('./__form/popup__form.css');
@import url('./__input/popup__input.css');
@import url('./__button/popup__button.css');
@import url('./__caption/popup__caption.css');
@import url('./__image/popup__image.css');

.popup {
  font-family: 'Inter', Arial, sans-serif;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

/* Стили для ошибок валидации */
.popup__input_type_error {
  border-color: red;
}

.popup__error_visible {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.popup__button_disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Стили для отображения количества лайков */
.card__like-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__like-button {
  margin-bottom: 5px;
}

.card__like-count {
  font-size: 14px;
  color: #000;
}

.profile__image-container {
  position: relative;
  display: inline-block;
  width: 120px; 
  height: 120px; 
}

.profile__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.profile__edit-avatar-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/Users/danil/Desktop/Проекты/mesto-project-ff/src/images/edit-icon.svg') no-repeat center;
  background-size: 50%; /* Размер иконки */
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 50%;
}

.profile__image-container:hover .profile__edit-avatar-button {
  opacity: 1;
}
